## .NET
bin/
obj/
*.user
*.suo
*.userprefs
*.nupkg
*.snupkg
project.lock.json
.vs/
*.DotSettings.user

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

## MAUI
*.ipa
*.apk
*.aab

## IDE
.idea/
*.sln.iml
.vscode/

## OS
Thumbs.db
.DS_Store
